<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-4">
    <se-category-edit category="newCategory"></se-category-edit>
    <h5>Existing categories:</h5>
    <div class="input-group">
        <span class="input-group-addon">Filter by Attribute</span>
        <input type="text" class="form-control" ng-model="attributeFilter" placeholder=""
               typeahead="attribute.id as attribute.id for attribute in data.attributes | filter:$viewValue | limitTo:8"
               typeahead-wait-ms="200">
    </div>
    <br/>
    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="category in data.categories | filter:hasAttribute(attributeFilter) | orderBy:attributeValue(attributeFilter)">
            <accordion-heading>
                {{category.name}}
                <button type="button" class="btn btn-default btn-xs pull-right" ng-click="deleteCategory(category.id)">
                    <span class="glyphicon glyphicon-remove-circle"></span> Delete
                </button>
                <button type="button" class="btn btn-default btn-xs pull-right" ng-click="loadCategory(category.id)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
            </accordion-heading>
            {{ category | json }}
        </accordion-group>
    </accordion>
</div>

<div class="col-md-4">
    <se-attribute-edit attribute="newAttribute"></se-attribute-edit>
    <h5>Existing attributes:</h5>
    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="attribute in data.attributes">
            <accordion-heading>
                {{attribute.name}}
                <button type="button" class="btn btn-default btn-xs pull-right"
                        ng-click="deleteAttribute(attribute.id)"><span
                        class="glyphicon glyphicon-remove-circle"></span> Delete
                </button>
                <button type="button" class="btn btn-default btn-xs pull-right" ng-click="loadAttribute(attribute.id)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
            </accordion-heading>
            {{ attribute | json }}
        </accordion-group>
    </accordion>
</div>

<div class="col-md-4">
    <se-intention-edit intention="newIntention"></se-intention-edit>
    <h5>Existing intentions:</h5>
    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="intention in data.intentions">
            <accordion-heading>
                {{intention.name}}
                <button type="button" class="btn btn-default btn-xs pull-right"
                        ng-click="deleteIntention(intention.id)"><span
                        class="glyphicon glyphicon-remove-circle"></span> Delete
                </button>
                <button type="button" class="btn btn-default btn-xs pull-right" ng-click="loadIntention(intention.id)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
            </accordion-heading>
            {{ intention | json }}
        </accordion-group>
    </accordion>
</div>
